@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
@import "./base.css";

:root {
    --primary-color-soft-red: hsl(7, 99%, 70%);
    --primary-color-yellow: hsl(51, 100%, 49%);
    --primary-color-dark-desatured-cyan: hsl(167, 40%, 24%);
    --primary-color-dark-blue: hsl(198, 62%, 26%);
    --primary-color-dark-moderate-cyan: hsl(168, 34%, 41%);
    --neutral-color-dark-desatured-bllue:  hsl(212, 27%, 19%);
    --neutral-color-dark-blue: hsl(213, 9%, 39%);
    --neutral-color-dark-grayish-blue: hsl(232, 10%, 55%);
    --neutral-color-grayish-blue: hsl(210, 4%, 67%);
    --neutral-color-white: hsl(0, 0%, 100%);
    --color-header: rgba(61,190,254,255);
    --color-card: #fffbf9;
    --font-size-primary: 18px;
    --typography-primary: 'Barlow';
    --typography-secondary: 'Fraunces';
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--neutral-color-white);
}

.img-responsive {
    max-width: 100%;
    height: auto;
    width: 100%;
    vertical-align: middle;
}

.open {
    display: block;
}

.close {
    display: none;
}


/* HEADER STYLES */

header {
    background-image: url('../images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: var(--neutral-color-white);
}

.header-nav {
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-nav > nav {
    display: none;
}

.header-container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    padding: 50px 20px 30px 20px;
    font-family: var(--typography-secondary);
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    word-spacing: .7rem;
    letter-spacing: 1rem;
    margin-right: -1rem;
}

.hb-nav {
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    z-index: 9999;
    margin: 20px;
    border-top: 30px #3dbeff solid;
    border-right: 20px white solid;
}

.hb-nav > nav {
    background-color: white;
    padding: 10px 0 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hb-nav > nav > a {
    color: var(--neutral-color-dark-grayish-blue);
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-family: var(--typography-primary);
    text-transform: uppercase;
}

.hb-nav > nav > a:last-child {
    background-color: var(--primary-color-yellow);
    text-transform: uppercase;
    border-radius: 80px;
    padding: 20px 25px;
}

/* MAIN STYLES  */ 

main {
    background-color: var(--color-card);
}

.container-services {
    display: flex;
    flex-wrap: wrap;
}

.services-box {
    width: 100%;
}

.services-box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    padding: 2rem;
}

.services-box > h2 {
    font-family: var(--typography-secondary);
    font-size: 3rem;
    color: var(--neutral-color-dark-desatured-bllue);
}

.services-box > p {
    font-family: var(--typography-primary);
    color: var(--neutral-color-dark-grayish-blue);
    margin: 30px 0;
}

.learn-more-container {
    width: 115px;
    position: relative;
    z-index: 1;
}

.learn-more-link {
    text-decoration: none;
    font-family: var(--typography-secondary);
    text-transform: uppercase;
    color: var(--primary-color-dark-blue);
    z-index: 3;
    position: relative;
    bottom: 0;
}

.learn-more-border-link {
    position: absolute;
    bottom: 0;
    width: 115px;
    height: 10px;
    background-color: var(--primary-color-yellow);
    border-radius: 10px;
    z-index: 2;
    opacity: .4;
}

.overlay-box {
    position: relative;  
    display: flex;
    justify-content: center;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 20px;
}

.overlay-text > h3 {
    font-family: var(--typography-secondary);
    color: var(--primary-color-dark-desatured-cyan);
    margin-bottom: 1rem;
}

.overlay-text > p {
    font-family: var(--typography-primary);
    color: var(--neutral-color-dark-grayish-blue);
    line-height: 1rem;
}


/* CLIENTS STYLES */
.container-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.clients-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.clients-title {
    text-align: center;
    margin: 4rem 0 2rem 0;
    font-family: var(--typography-secondary);
    text-transform: uppercase;
    letter-spacing: .3rem;
    word-spacing: .5rem;
    color: var(--neutral-color-grayish-blue);
}

.container-img-clients {
    border-radius: 100%;   
    width: 80px;
}

.clients-box > p {
    color: var(--neutral-color-dark-grayish-blue);
    font-family: var(--typography-primary);
    text-align: center;
    margin: 1.5rem 2rem;
}

.clients-box > h4 {
    font-family: var(--typography-secondary);
    color: var(--neutral-color-dark-desatured-bllue);
}

.clients-box > h6 {
    font-family: var(--typography-secondary);
    color: var(--neutral-color-grayish-blue);
    margin-top: .3rem;
}



/* GALLERY STYLES */
.section-gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-img {
    width: 50%;
}

/* FOOTER STYLES */
footer {
    background-color: var(--neutral-color-grayish-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 350px;
}

footer > nav{
    display: flex;
    align-items: center;
}

footer > nav > ul{
    display: flex;
}

footer > nav > ul > li {
    list-style: none;
}

footer > nav > ul > li > a{
    text-decoration: none;
    padding: 20px;
    font-family: var(--typography-primary);
    color: var(--neutral-color-dark-grayish-blue);
}

.footer-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social-icon {
    margin: 10px 20px;
}

.attribution {
    padding: 20px;
    text-align: center;
}

.attribution > a {
    text-decoration: none;
    color: black;
}


@media screen and (min-width: 770px) {
    .overlay-text {
        position: absolute;
        bottom: 0;
        text-align: center;
        padding: 80px;
        width: 50%;
    }       
}

@media screen and (min-width: 1440px) {
    .header-title {
        font-size: 3rem;
        margin: 2rem;
    }
    
    .header-nav > nav {
        display: block;
    }

    .header-nav > nav > ul {
        display: flex;
    }
    
    .header-nav > nav > ul > li {
        list-style: none;
    }
    
    .header-nav > nav > ul > li > a {
        text-decoration: none;
        color: var(--neutral-color-white);
        font-family: var(--typography-primary);
        padding: 20px;
        margin: 0 5px;
    }
    
    .header-nav > nav > ul > li:last-child > a{
        background-color: var(--neutral-color-white);
        color: black;
        text-transform: uppercase;
        border-radius: 80px;
        padding: 20px 30px;
    }

    .header-nav-hamburguer {
        display: none;
    }

    .container-services {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .services-box {
        width: 50%;
    }

    .services-box-text {
        width: 50%;
    }

    .overlay-text {
        position: absolute;
        bottom: 0;
        text-align: center;
        padding: 80px;
        width: 50%;
    }       

    .clients-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: 5rem 0;
    }
    
    .gallery-img {
        width: 25%;
    }   
    
}